<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <!--<script src="/javascripts/adzap-analytics.js"></script>-->
  <script type="text/javascript">
      var Publisher = { key: '168VTfqDuMJ2FryC5HgZOA5RwMV',id: '357668695101767681' ,siteId: '357668695164223489' };

      (function(d, t) {
          var s = d.createElement(t); s.type = 'text/javascript'; s.async = true;
          s.src = '//localhost:3001/javascripts/adzap-analytics.js';
          var r = d.getElementsByTagName(t)[0]; r.parentNode.insertBefore(s, r);
      }(document, 'script'));
  </script>
  <body>
    {{{body}}}
  </body>
</html>
